
<div class="row">
  <div class="col-lg-6">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center">User Profile : Student</h3>
      </div>
      <div class="panel-body">
        <div class="row">

          <div class=" col-md-12 col-lg-12 ">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td><strong>Firstname</strong></td>
                  <td>Wuttipong</td>
                </tr>
                <tr>
                  <td><strong>Lastname</strong></td>
                  <td>Khemphetjetsada</td>
                </tr>
                <tr>
                  <td><strong>Student ID No.</strong></td>
                  <td>5610545803</td>
                </tr>
                <tr>
                  <td><strong>Thai Citizen ID No./Passport ID No</strong></td>
                  <td>1929900448596</td>
                </tr>
                <tr>
                  <td><strong>Sex</strong></td>
                  <td>Male</td>
                </tr>
                <tr>
                  <td><strong>Country</strong></td>
                  <td>Thailand</td>
                </tr>
                <tr>
                  <td><strong>Degree Level</strong></td>
                  <td>Bachelor</td>

                </tr>
                <tr>
                  <td><strong>Campus</strong></td>
                  <td>Bangkhen</td>

                </tr>
                <tr>
                  <td><strong>Faculty</strong></td>
                  <td>Engineering</td>

                </tr>
                <tr>
                  <td><strong>Major Field</strong></td>
                  <td>Software & Knowledge Engineering (E17) </td>

                </tr>
                <tr>
                  <td><strong>Advisor</strong></td>
                  <td>Punpiti Piamsa-Nga (E9013)</td>

                </tr>
                <tr>
                  <td><strong>Program Type</strong></td>
                  <td>International Program (Special Program) </td>

                </tr>
                <tr>
                  <td><strong>E-mail</strong></td>
                  <td>b5610545803@ku.ac.th</td>

                </tr>
                <tr>
                  <td><strong>Student Status</strong></td>
                  <td>Currently studying</td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel-footer">

      </div>

    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Registration for Summer Session 2016</h3>
      </div>
      <div class="panel-body">
        <div class="row">

          <div class=" col-md-12 col-lg-12 ">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td><strong>Registration Date</strong></td>
                  <td>Date: Time: - </td>
                </tr>
                <tr>
                  <td><strong>Bank Payment Detail</strong></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><strong>Tuition fee exemption/waived</strong></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><strong>Student are allowed to register above limit</strong></td>
                  <td>-</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel-footer">

      </div>

    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Eligibility to register within announce registration date:  Not eligible</h3>
      </div>
      <div class="panel-body">
        <div class="row">

          <div class=" col-md-12 col-lg-12 ">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td><strong>Student status</strong></td>
                  <td>Registration allowed</td>
                </tr>
                <tr>
                  <td><strong>Unpaid fee</strong></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><strong>Locked with</strong></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><strong>To meet with advisor</strong></td>
                  <td>-</td>
                </tr>
                <tr>
                  <td><strong>Payment information</strong></td>
                  <td>Have not been paid / exemption from fees / permitted to late payment</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel-footer">

      </div>

    </div>


  </div>
  </div>
</div>
