<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="" ng-click="checklogin()">Ku Regis</a>
    </div>

      <div class = "nav navbar-nav navbar-right">
        <p class = "navbar-text pull-right">
          ({{usingcookie}})
          <a style="color:white;margin-left:5px"href="" ng-click="logout()">logout</a>
        </p>
      </div>

  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class = 'active'id="information"><a href="" ng-click="information()">Student Information</a></li>
        <li id="enroll"><a href="" ng-click="enroll()">Enroll</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li style="padding-left:20px;padding-right:20px">Credit: {{credit}}</li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>>

    </div>
  </div>

</div>
